// 颜色定义规范
$color-background = #fff
$color-background-grey = #f4f4f4
$color-background-yellow = #FFB037

$color-border-line = #EFEFEF
$color-border-top = #E5E5E5
$font-color-grey = #888888
$font-color-yellow = #F6AB39
$font-color-orange = #FFA530

$picker-border-yellow = #FBB03B
$picker-content-yellow = #F6AB39
